<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/cs.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="header">
        <nav>
            <div class="logo">
                <img src="/static/img2.png" alt="">
                <span>MoodMate</span>
            </div>
            <ul>
                <li><a href="http://localhost:5000/templates/index1" data-text="HOME">HOME</a></li>
                <li><a href="http://localhost:5000/templates/features"data-text="FEATURES">FEATURES</a></li>
                <li><a href="http://localhost:5000/templates/contact"data-text="CONTACT">CONTACT</a></li>
                <li><a href="http://localhost:5000/templates/join_page" data-text="TEAM-INFO">TEAM-INFO</a></li>
            </ul>
        </nav>
    <form action="https://formspree.io/f/mvonrdya"
    method="POST">  
    <div class="background">
        <div class="container">
          <div class="screen">
            <div class="screen-header">
              <div class="screen-header-left">
                <div class="screen-header-button close"></div>
                <div class="screen-header-button maximize"></div>
                <div class="screen-header-button minimize"></div>
              </div>
              <div class="screen-header-right">
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
              </div>
            </div>
            <div class="screen-body">
              <div class="screen-body-item left">
                <div class="app-title">
                  <span>CONTACT</span>
                  <span>US</span>
                </div>
                <div class="app-contact">CONTACT INFO : +62 81 314 928 595</div>
              </div>
              <div class="screen-body-item">
                <div class="app-form">
                  <div class="app-form-group">
                    <input class="app-form-control" placeholder="NAME">
                  </div>
                  <div class="app-form-group">
                    <input class="app-form-control" placeholder="EMAIL">
                  </div>
                  <div class="app-form-group">
                    <input class="app-form-control" placeholder="CONTACT NO">
                  </div>
                  <div class="app-form-group message">
                    <input class="app-form-control" placeholder="MESSAGE">
                  </div>
                  <div class="app-form-group buttons">
                    <button class="app-form-button">CANCEL</button>
                    <button class="app-form-button">SEND</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>  
    </div>
</body>
</html>