<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Our Team</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="header">
        <nav>
            <div class="logo">
                <img src="/static/img2.png" alt="">
                <span>MoodMate</span>
            </div>
            <ul>
                <li><a href="http://localhost:5000/templates/index1" data-text="HOME">HOME</a></li>
                <li><a href="http://localhost:5000/templates/features"data-text="FEATURES">FEATURES</a></li>
                <li><a href="http://localhost:5000/templates/contact"data-text="CONTACT">CONTACT</a></li>
                <li><a href="http://localhost:5000/templates/join_page" data-text="TEAM-INFO">TEAM-INFO</a></li>
            </ul>
        </nav>

    <div class="wrapper">
        <h1>Our Team</h1>
        <div class="our_team">
            <div class="team_member">
                <div class="member_img">
                    <img src="/static/demoimg.jpg" alt="our_team">
                </div>
              <h3>Kapadiya Nirav Kumar</h3>
              <span>Jamnagar</span>
            </div>
    
            <div class="team_member">
                <div class="member_img">
                   <img src="/static/demoimg.jpg" alt="our_team"> 
                </div>
                <h3>Taxil Vaghani</h3>
                <span>Surat</span>
            </div>
    
    
            <div class="team_member">
                <div class="member_img">
                   <img src="/static/demoimg.jpg" alt="our_team"> 
                </div>
                <h3>Kishan Kachhadiya</h3>
                <span>Surat</span>
            </div>
    
    
            <div class="team_member">
                <div class="member_img">
                   <img src="/static/demoimg.jpg" alt="our_team">
                </div>
                <h3>Naimish Akbari</h3>
                <span>Surat</span>
            </div>
    
    
           
        </div>
    </div>	
    </div>
    
    </body>
</html>